{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}
<div class=landingpage>
    <div class="grid-container fivetoseven" role=main>
        <div class=item aria-label=Avatar>
            {%- set avatar_meta = get_image_metadata(path="img/profile.webp") %}
            <section id=avatar><img width="{{ avatar_meta.width }}" height="{{ avatar_meta.height }}" class=avatar src="{{ get_url(path="img/profile.webp") }}" alt=profile></section>
        </div>
        <div class="grid-container full autocenter">
            <section id=bio aria-label=Biography>
                <h1 class=h3-like aria-level=1 aria-label=Name>Morgan Creekmore</h1>
                <p title=About aria-label=About>
                <p>Software Engineer doing <span class="nowrap">C#/.NET,</span> <span class="nowrap">C/C++,</span> and Rust</p>
                <p style="font-weight: 600;">Doing Stuff (Blog): <a href=https://doingstuff.dev>doingstuff.dev</a><br>Art Stuff: <a href=https://gamingrobot.art>gamingrobot.art</a></p>
            </section>
            <section id=contact aria-label=Contact>
                <div class=icons aria-label=Links>
                    <a class=h3-like href=mailto:morgan@creekmore.dev target=_blank rel=noopener title=Mail>{{ macros::svg_mail() }}</a>
                    <a class=h3-like href=https://github.com/gamingrobot target=_blank rel="noopener me">{{ macros::svg_github() }}</a>
                    <a class=h3-like href=https://fosstodon.org/@gamingrobot target=_blank rel="noopener me">{{ macros::svg_mastadon() }}</a>
                    <a class=h3-like href=https://www.artstation.com/gamingrobot target=_blank rel="noopener me">{{ macros::svg_artstation() }}</a>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}